.idea/*
data/*
out/*

.DS_Store
magellan_megaspark.iml
requirements.txt

megaspark/.DS_Store
megaspark/__pycache__/*
megaspark/ml/__pycache__/*
megaspark/sql/__pycache__/*
megaspark/libs/.ipynb_checkpoints